/* body{
    
    
     justify-content: center;
    align-items: center;
    margin: 0; 
} */
.card{
    display: inline-block;
    border: solid rebeccapurple;
    width: fit-content;

    
}
img{
    width: 20%;
    /* display: inline; */

}
h1{
    text-align: center;
    color: blueviolet;
}
.container{
    /* border: solid;
    width: fit-content;
    height: fit-content;
    padding: 50px; */
    display: flex;
}
input{
    /* margin: 20px;
    width: 300px;
    height: 30px; */
    border-radius: 25px;
    text-align: center;
    font-weight: 900;
}
p{
    font-size: 20px;
}
label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button{
    display: block;
    margin: auto;
    width: 300px;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    border-radius: 25px;
    border: none;
    background-color: rebeccapurple;
    cursor: pointer;
    margin-top: 20px;
}
/* a{
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 20px;
    
} */