body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1{
    text-align: center;
    color: blueviolet;
}
div{
    border: solid;
    width: fit-content;
    height: fit-content;
    /* margin: auto; */
    /* margin-top: 200px; */
    padding: 50px;  
}
input{
    margin: 20px;
    width: 300px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
    font-weight: 900;
}
label{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button{
    display: block;
    margin: auto;
    width: 300px;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    border-radius: 25px;
    border: none;
    background-color: rebeccapurple;
    cursor: pointer;
}
a{
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 20px;
    
}